<section class="section swatch-black-beige editing">
	<div class="container">
		<h1 class="headline hyper hairline">Editing curriculum</h1>
		<br>
		<%= render 'form' %>
		<br>
		<div class="botones">
			<button type="button" class="btn btn-default"><%= link_to 'Show', @curriculum %></button> |
			<button type="button" class="btn btn-default"><%= link_to 'Back', curriculums_path %></button>
		</div>
	</div>
</section>