<section class="section swatch-black-beige editing">
	<div class="container">
		<h1 class="headline hyper hairline">Editing curriculum</h1>

		<%= render 'form' %>
		<br>
		<%= link_to 'Show', @curriculum %> |
		<%= link_to 'Back', curriculums_path %>
	</div>
</section>