<section class="section swatch-black-beige new">
	<div class="container">
		<h1>New curriculum</h1>

		<%= render 'form' %>
		<br>
		<div class="bot">
			<button type="button" class="btn btn-default"><%= link_to 'Back', curriculums_path %></button>
		</div>
		<br><br><br><br>
	</div>
</section>