<section class="section swatch-black-beige has-top">
    <div class="decor-top">
        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="container">
        <header class="section-header underline">
            <h1 class="headline super hairline">Clients said</h1>
        </header>
        <div class="row">
            <div class="col-md-12 os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".1s">
                <div id="slider-flex1" class="flexslider" data-flex-speed="7000" data-flex-animation="slide" data-flex-directions="hide" data-flex-controls="show" data-flex-controlsalign="center">
                    <ul class="slides">
                        <li>
                            <blockquote class="fancy-blockquote">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="box-round box-huge">
                                            <div class="box-dummy"></div>
                                            <div class="box-inner">
                                                <img width="300" height="300" src="assets/images/design/people/man-1-300x300.png" class="attachment-square-image-small wp-post-image" alt="some alt" draggable="false">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <p>"The timba service is reliable, efficient and easy. I get the best product with excellent quality at very reasonable prices. Their quality standards are unique and combines the working group very well."</p>
                                        <small>John Langan

                                        </small>
                                    </div>
                                </div>
                            </blockquote>
                        </li>
                        <li>
                            <blockquote class="fancy-blockquote">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="box-round box-huge">
                                            <div class="box-dummy"></div>
                                            <div class="box-inner">
                                                <img width="300" height="300" src="assets/images/design/people/woman-1-300x300.png" class="attachment-square-image-small wp-post-image" alt="some alt" draggable="false">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <p>It's exciting, the way they develop activities, placing special attention to the demands of their customers to prevent them pass something. The order in which they manage their activities and the distribution of tasks, gives a very good presentation of the company; I recommend it.</p>
                                        <small>Sue Doe

                                        </small>
                                    </div>
                                </div>
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>