<section class="section swatch-white-red has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <header class="section-header underline">
                <h1 class="headline super hairline">Services</h1>
                <p class="">Timba is composed of a group of developers working with excellent performance, high quality and professional ethics for projects proposed for our customers.</p>
            </header>
            <div class="row">
                <ul class="list-unstyled row box-list ">
                    <li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                        <div class="box-round">
                            <div class="box-dummy"></div>
                            <a class="box-inner " href="/single-service.html">
                                 
                                <img class="svg-inject" src=<%= image_tag ("custom-icon-composer.png")%> alt="a clock" data-animation="" />
                            </a>
                        </div>
                        <h3 class="text-center ">

                            <a href="/single-service.html">

                                Web design 

                            </a>

                        </h3>
                        <p class="text-center">Our web pages are built to look sharp, cool and awesome on all displays. Images will look sharp and clear with an excellent distribution.</p>
                    </li>
                    <li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                        <div class="box-round">
                            <div class="box-dummy"></div>
                            <a class="box-inner " href="/single-service.html">
                                <img class="svg-inject" src="assets/images/design/custom-icons/custom-icon-bag.png" alt="a clock" data-animation="" />
                            </a>
                        </div>
                        <h3 class="text-center ">

                            <a href="/single-service.html">

                                Game Development

                            </a>

                        </h3>
                        <p class="text-center">We design video games custom, as our customer wants, preserving the environment or vision of each character as faithful as possible. All this to give higher quality and satisfaction.</p>
                    </li>
                    <li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                        <div class="box-round">
                            <div class="box-dummy"></div>
                            <a class="box-inner " href="/single-service.html">
                                <img class="svg-inject" src="assets/images/design/custom-icons/custom-icon-iphone-white.png" alt="a clock" data-animation="" />
                            </a>
                        </div>
                        <h3 class="text-center ">

                            <a href="/single-service.html">

                                Responsive Design

                            </a>

                        </h3>
                        <p class="text-center">We have designed this site mobile first so it looks great on mobile devices of all sizes.o need to worry on keeping your theme updated. With Timba you get free updates for life</p>
                    </li>
                    <li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".9s">
                        <div class="box-round">
                            <div class="box-dummy"></div>
                            <a class="box-inner " href="/single-service.html">
                                <img class="svg-inject" src="assets/images/design/custom-icons/custom-icon-clipboard.png" alt="a clock" data-animation="" />
                            </a>
                        </div>
                        <h3 class="text-center ">

                            <a href="/single-service.html">

                                100% support

                            </a>

                        </h3>
                        <p class="text-center">With Timba as with all our projects, you will receive our 100% solid support.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>