<html>

<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<a href="/">
				<h1 class="header-logo">
					<a href="/welcome"><span style="color:transparent;border:none;">Crowd Interactive</span></a>
				</h1>
			</a>
			
			<ul class="nav navbar-nav">
				<li class="nav-item"><a class="nav-link header-nav-link" href="/whatwedo" id="we-do-menu">What We Do</a></li>
				<li class="nav-item"><a class="nav-link header-nav-link" href="/portafolio" id="portfolio-menu">Portafolio</a></li>
				<li class="nav-item"><a class="nav-link header-nav-link" href="/opensource">Open Source</a></li>
				<li class="nav-item"><a class="nav-link header-nav-link" href="/about">About Us</a></li>
				<li class="nav-item"><a class="button button-home header-button" href="/contact" id="contact-menu">Contact Us</a></li>
			</ul>
		</div>
 	</nav>

	<!--imagen de inicio-->
	<div class="jumbotron about">
	  <h2>We are Crowd!</h2>
	  <p>We're passionate about what we do, and we take our culture seriously. Ourselves? Not so much.</p>
	  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>

	
	<div class="medio-cuerpo">
		<div class="titulo"><h3>We blog about everything CROWD</h3><br>

		<div class="row">
  		<div class="col-md-5 first">
  			<div class="imagen1"><p></p></div>
   			<h4>Technology Blog</h4>
        <p>Our engineers are passionate about what they work on, and they blog about it.</p>
      </div>

      <div class="col-md-2 second">
      	<div class="imagen2"><p></p></div>
	   		<h4>Culture Blog</h4>
	       <p>Our culture is an important part of Crowd's DNA.</p>
      </div>

      <div class="col-md-5 third">
      	<div class="imagen3"><p></p></div>
	   		<h4>The Creative Blog</h4>
	      <p>We like to share our creative juices.</p>
      </div>
    </div>
  </div>

  <div class="jumbotron bajo">
	  <h2>Our talented community of entrepreneurs, engineers and designers is diverse and constantly growing.</h2><br>
	  <p>Together we sponsor and organize the following groups and events.</p>

	  <div class="row">
  		<div class="col-md-4 first">
  			<div class="imagen1"><p></p></div>
   			<h4>Technology Blog</h4>
        <p>Our engineers are passionate about what they work on, and they blog about it.</p>
      </div>

      <div class="col-md-2 second">
      	<div class="imagen2"><p></p></div>
	   		<h4>Culture Blog</h4>
	       <p>Our culture is an important part of Crowd's DNA.</p>
      </div>

      <div class="col-md-2 second">
      	<div class="imagen2"><p></p></div>
	   		<h4>Culture Blog</h4>
	       <p>Our culture is an important part of Crowd's DNA.</p>
      </div>

      <div class="col-md-4 third">
      	<div class="imagen3"><p></p></div>
	   		<h4>The Creative Blog</h4>
	      <p>We like to share our creative juices.</p>
      </div>
    </div>
	</div>

	
  <div class='pie'>
    <h3>Take control of your eCommerce: <br><em>Integrate, automate and launch <br>quickly</em>.</h3>

    <nav class="navbar" role="navigation">
      <div class="container-fluid">

        <ul>
          <li class="nav-item footer-nav-item"><a class="nav-link footer-nav-link" href="/about">About Us</a></li>
          <li class="nav-item footer-nav-item"><a class="nav-link footer-nav-link" href="/team">Team</a></li>
          <li class="nav-item footer-nav-item"><a class="nav-link footer-nav-link" href="/careers">Careers</a></li>
          <li class="nav-item footer-nav-item"><a class="nav-link footer-nav-link" href="http://blog.crowdint.com" target="_blank">Blog</a></li>
        </ul>

        <ul class='iconos-sociales'>
            <li><a class="social-icon-twitter" href="https://twitter.com/crowdint" target="_blank"></a></li>
            <li><a class="social-icon-facebook" href="https://www.facebook.com/CrowdInteractive" target="_blank"></a></li>
            <li><a class="social-icon-gplus" href="https://plus.google.com/100816706068922064575/posts" target="_blank"></a></li>
            <li><a class="social-icon-github" href="https://github.com/crowdint" target="_blank"></a></li>
            <li><a class="social-icon-linkedin" href="http://www.linkedin.com/company/543194?trk=tyah&amp;trkInfo=tarId%3A1400178459874%2Ctas%3ACrowd%20Inte%2Cidx%3A2-1-3" target="_blank"></a></li>
        </ul>
      </div>
    </nav>

    <p>© Crowd Interactive 2014</p>
  </div>
	



</body>

  