<html lang='en'>

<body>
<!--Menu de la barra superior-->

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <a href="/">
        <h1 class="header-logo">
          <span style="color:transparent;border:none;">Crowd Interactive</span>
        </h1>
      </a>
      
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link header-nav-link" href="/we-do" id="we-do-menu">What We Do</a></li>
        <li class="nav-item"><a class="nav-link header-nav-link" href="/portfolio" id="portfolio-menu">Portafolio</a></li>
        <li class="nav-item"><a class="nav-link header-nav-link" href="/open-source">Open Source</a></li>
        <li class="nav-item"><a class="nav-link header-nav-link" href="/about">About Us</a></li>
        <li class="nav-item"><a class="button button-home header-button" href="/contact" id="contact-menu">Contact Us</a></li>
      </ul>
    </div>
  </nav>

  <div id="container">
    <!-- Headline Partial Section imagen stable-->
    <section class="headline headline-home" data-stellar-ratio='0'>
      <div class="l-wrapper headline-body">
        <h2 class="headline-title">Sparking eCommerce <br/>innovation</h2>
        <p class="headline-text">Work with our team of bright engineers, talented designers, and innovative thinkers to find the spark your eCommerce site is seeking.</p>
      </div>
      <footer>
        <a class="headline-link headline-link-home is-scrollable" href="#work">What we do</a>
       
      </footer>
    </section>
  
    <!-- Work Partial Section los cuadritos de dibujitos-->
  <section id="work" class="l-wrapper">
    <h3 class="is-not-mobile">Great minds working together <br><span class="l-normal">create greater innovations</span></h3><br>


    <article class="box-gray work-box">
      <header class='circle circle-intern circle-header'>
        <div class='circle-intern-header circle-bg-ecommerce'>
      </header>

      <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class="box-body work-box-body">
        <h4 class="box-title">eCommerce made easy</h4>
        <p class="box-text">Your eCommerce site doesn’t have to be a headache, our technical expertise and experience will keep you focused on your business, and not your uptime.</p>
      </div>
      </div>
    </article>

    <article class="box-gray work-box">
      <header class='circle circle-intern circle-header'>
        <div class='circle-intern-header circle-bg-customer'>
      </header>

    <div class="row">
    <div class="col-xs-6 col-md-offset-2">
      <div class="box-body work-box-body">
        <h4 class="box-title">Enhanced Customer Experience</h4>
        <p class="box-text">Every second counts. Offer your customers a modern shopping experience from homepage to checkout.</p>
      </div>
      </div>
    </article>

    <article class="box-gray work-box">
      <header class='circle circle-intern circle-header'>
        <div class='circle-intern-header circle-bg-solutions'>
      </header>
      <div class="row">
    <div class="col-xs-6 col-md-offset-2">
      <div class="box-body work-box-body">
        <h4 class="box-title">Tailored solutions</h4>
        <p class="box-text">Build your business on a proven eCommerce platform that is both flexible and reliable.</p>
      </div>
      </div>
    </article>

  </section><br>

<!-- We Do Partial Section espacio con experiencia y hlicoptero-->
<section class="we-do">
  <span class="we-do-img"></span>
  <h3 class="we-do-title">Let our experienced team <br/><span class="l-normal">architect your vision</span></h3>

  <div class="l-wrapper">
    <div class="box we-do-box">
      <div class="box-body we-do-box-body">
        <span class='experience_ico_01'></span>
        <p class="box-text">
          Our eCommerce experience will have your product flying off the shelves.</br>
        </p>
      </div>
    </div>

    <div class="box we-do-box">
      <div class="box-body we-do-box-body">
        <span class='experience_ico_02'></span>
        <p class="box-text">
          As Spree Commerce partners we will help mold your eCommerce platform to your unique business model.<br/>
        </p>
      </div>
    </div>

    <div class="box we-do-box">
      <div class="box-body we-do-box-body">
        <span class='experience_ico_03'></span>
        <p class="box-text">
          Our team participates in Open Source Projects, contributing to the community however we can.</br>
        </p>
      </div>
    </div>
  </div>

  <div class='call-action'>
    <a class="headline-link headline-link-home" href="/we-do" id="learn-more">Learn more</a>
</div>
</section>


<!-- Our Clients Partial Section portafolio de clientes-->
<section class='our-clients'>
<h3 class='our-clients-title'>Our</br><span class="l-normal">portfolio</span></h3>

  <a href="/portfolio" id="action-clients">
  <div class="row">
  <div class="col-md-3">
    <ul class='clients'>
      <li class='client'>
        <span class='gopro'></span></li>
      <li class='client'><div class='bebitos'></div><img src="logos-clientes.png"></li>
      <li class='client'><span class='interviewjet'></span></li>
      <li class='client'><span class='littlebits'></span></li>
    </ul>

  </div>
  <div class="col-md-3">
  
    
    <ul class='clients'>
      <li class='client'><span class='igobono'></span></li>
      <li class='client'><span class='muirskate'></span></li>
      <li class='client'><span class='footcardigan'></span></li>
      <li class='client'><span class='ezekiel'></span></li>
    </ul>
  </div>
  <div class="col-md-3">

    
    <ul class='clients heavy'>
      <li class='client'><span class='jiffyshirts'></span></li>
      <li class='client'><span class='mightytwenty'></span></li>
      <li class='client'><span class='clubguaf'></span></li>
      <li class='client'><span class='flyerio'></span></li>
    </ul>
  </div>

  <div class="col-md-3">
    
    <ul class='clients'>
      <li class='client'><span class='betterfinance'></span></li>
      <li class='client'><span class='lootcrate'></span></li>
    </ul>
  </div>
  </div>
  </a></section>

  </div>



<ul class="social-icons mobile-menu-social-icons">
      <li><a class="social-icon-link social-icon-twitter" href="https://twitter.com/crowdint" target="_blank"></a></li>
      <li><a class="social-icon-link social-icon-facebook" href="https://www.facebook.com/CrowdInteractive" target="_blank"></a></li>
      <li><a class="social-icon-link social-icon-gplus" href="https://plus.google.com/100816706068922064575/posts" target="_blank"></a></li>
      <li><a class="social-icon-link social-icon-github" href="https://github.com/crowdint" target="_blank"></a></li>
      <li><a class="social-icon-link social-icon-linkedin" href="http://www.linkedin.com/company/543194?trk=tyah&amp;trkInfo=tarId%3A1400178459874%2Ctas%3ACrowd%20Inte%2Cidx%3A2-1-3" target="_blank"></a></li>
    </ul>





<!-- Seccion de menus de terminacion de pag-->
  <footer id='footer' class='footer-home'>
  <div class='l-wrapper footer-body'>
    <h3 class='footer-title is-not-mobile'>Take control of your eCommerce: <br><em>Integrate, automate and launch <br>quickly</em>.</h3>
    <h3 class='footer-title is-mobile'>Take control of your eCommerce: <br>Integrate, automate and launch quickly.</h3>

    <ul class="nav footer-nav">
      <li class="nav-item footer-nav-item"><a class="nav-link footer-nav-link" href="/about">About Us</a></li>
      <li class="nav-item footer-nav-item"><a class="nav-link footer-nav-link" href="/team">Team</a></li>
      <li class="nav-item footer-nav-item"><a class="nav-link footer-nav-link" href="/careers">Careers</a></li>
      <li class="nav-item footer-nav-item"><a class="nav-link footer-nav-link" href="http://blog.crowdint.com" target="_blank">Blog</a></li>
    </ul>

    <ul class='social-icons footer-social-icons'>
        <li class="social-icon footer-social-icon"><a class="social-icon-link social-icon-twitter" href="https://twitter.com/crowdint" target="_blank"></a></li>
        <li class="social-icon footer-social-icon"><a class="social-icon-link social-icon-facebook" href="https://www.facebook.com/CrowdInteractive" target="_blank"></a></li>
        <li class="social-icon footer-social-icon"><a class="social-icon-link social-icon-gplus" href="https://plus.google.com/100816706068922064575/posts" target="_blank"></a></li>
        <li class="social-icon footer-social-icon"><a class="social-icon-link social-icon-github" href="https://github.com/crowdint" target="_blank"></a></li>
        <li class="social-icon footer-social-icon"><a class="social-icon-link social-icon-linkedin" href="http://www.linkedin.com/company/543194?trk=tyah&amp;trkInfo=tarId%3A1400178459874%2Ctas%3ACrowd%20Inte%2Cidx%3A2-1-3" target="_blank"></a></li>
    </ul>

    <p class='footer-ci'>© Crowd Interactive 2014</p>
  </div>
</footer>

</body>
</html>


