<header id="header" class="header-home ">
  <div class="l-wrapper header-body">
    <a href="/">
      <h1 class="header-logo">
        <span class="is-hidden">Timba</span>
      </h1>
	</a>

    <ul class="nav header-nav">
      <li class="nav-item"><a class="nav-link header-nav-link" href="/we-do" id="we-do-menu">What we do</a></li>
      <li class="nav-item"><a class="nav-link header-nav-link" href="/portfolio" id="portfolio-menu">Portfolio</a></li>
      <li class="nav-item"><a class="nav-link header-nav-link" href="/open-source">Open Source</a></li>
      <li class="nav-item"><a class="nav-link header-nav-link" href="/about">About Us</a></li>
    </ul><br>

   
  </div>
</header>

<div class="container">
	<div class="jumbotron">
			<h1>Providing Web Solutions</h1>
	</div>
</div>


<div id="mobile-menu">
  
  <ul class="mobile-menu-nav">
    <li class="mobile-menu-item"><a class="mobile-menu-item-link" href="/we-do">What We Do</a></li>
    <li class="mobile-menu-item"><a class="mobile-menu-item-link" href="/portfolio" id="portfolio-menu-mobile">Portfolio</a></li>
    <li class="mobile-menu-item"><a class="mobile-menu-item-link" href="/about">About Us</a></li>
    <li class="mobile-menu-item"><a class="mobile-menu-item-link" href="/open-source">Open Source</a></li>  
    <li class="mobile-menu-item"><a class="mobile-menu-item-link" href="/contact">Contact Us</a></li>
  </ul>
</div>

<footer id="footer" class="footer-home">
  <div class="l-wrapper footer-body">
    <h3 class="footer-title is-not-mobile">Timba: <br><em>Web Solutions</em>.</h3>
    

    <ul class="nav footer-nav">
      <li class="nav-item footer-nav-item"><a class="nav-link footer-nav-link" href="/about">About Us</a></li>
    </ul>

    
    <p class="footer-ci">Timba 2014</p>
  </div>
</footer>