<div id="content" role="main">
    <section class="section swatch-black-beige">
        <div class="container map">
            <header class="section-header underline">
                <h1 class="headline hyper hairline">Want to talk?</h1>
                <p class="big"></p>
            </header>
            <div class="row">
                <div class="col-md-6">
                    <%= form_tag("/contact", { class: "contact-form"}) do %>
                        <div class="form-group form-icon-group">
                            <input class="form-control" id="name" name="name" placeholder="Your name *" type="text" required/>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group form-icon-group">
                            <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required>
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="form-group form-icon-group">
                            <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required></textarea>
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-icon btn-icon-right alineado" type="submit">
                                Send email
                                <div class="hex-alt">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </button>
                        </div>
                    <% end %>
                    <div id="messages"></div>
                </div>
                <div class="col-md-6">
                    <div class="google-map" id="map" style="height:354px;"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

