<div id="content" role="main">
    <section class="section swatch-black-beige">
        <div class="container">
            <header class="section-header underline">
                <h1 class="headline hyper hairline">Want to talk?</h1>
                <p class="big">Address: #### Some Street, Envigado, COL Contact details: Phone: 123 456 7890, Fax: +49 123 456 7891.
                </p>
            </header>
            <div class="row">
                <div class="col-md-6">
                    <%= form_tag("/contact", { class: "contact-form"}) do %>
                        <div class="form-group form-icon-group">
                            <input class="form-control" id="name" name="name" placeholder="Your name *" type="text" required/>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group form-icon-group">
                            <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required>
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="form-group form-icon-group">
                            <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required></textarea>
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-icon btn-icon-right alineado" type="submit">
                                Send email
                                <div class="hex-alt">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </button>
                        </div>
                    <% end %>
                    <div id="messages"></div>
                </div>
                <div class="col-md-6">
                    <div class="google-map" id="map" style="height:354px;"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section swatch-white-red has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <header class="section-header underline">
                <h1 class="headline super hairline">Got an idea?</h1>
                <p class="">Well send us a message, we will answer sooner as we could.</p>
            </header>
            <div class="text-center">
                <a class="btn btn-primary btn-lg btn-icon-right pull-center" href="#">
  Lets make it happen
  <div class="hex-alt hex-alt-big">
    <i class="fa fa-rocket" data-animation="tada"></i>
  </div>
</a>
            </div>
        </div>
    </section>

</div>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

