<body>
<div class="cvs"><br>

	<div class="container cvs">
		<div class="row header">
			<div class="col-md-2 col-md-offset-2">
				<a class="logo" href="/home">
					<img class="cabecera" src="<%=image_path("logotimba.png")%>" alt="a clock">
				</a>
			</div>
			<div class="col-md-3">Exclusive access to top developers</div>
			<div class="col-md-4">Toptal.com<br>Call us: 888.604.3188</div>
		</div><br>

		<div class="row">
			<div class="col-md-3 col-md-offset-2">
				<a class="logo" href="/home">
					<img class="img-rounded" src="<%=image_path("design/people/ivan.png")%>" alt="a clock">
				</a>
				<p><button type="button" class="btn btn-primary">Hire Carlos</button></p>
			</div>

			<div class="col-md-6 info">
				<h1 class="cv_name">Carlos Hernandez</h1>
				<div class="date_member">Member since October  3, 2011</div>
				<div class="country">United States</div><p></p>
				<div class="member_info">Carlos is a talented and enthusiastic senior developer with an affinity for developing applications for mobile devices.
					He has many years of experience with different programming languages and technologies, and is a very strong problem solver. He works well in teams as both a member and a leader.</div><br>
				<ul>     
					<li><a class="btn btn-default" href="home" role="button">Objetive C</a></li>
					<li><a class="btn btn-default" href="home" role="button">IOS</a></li>
					<li><a class="btn btn-default" href="home" role="button">SQL</a></li>
					<li><a class="btn btn-default" href="home" role="button">C++</a></li>
					<li><a class="btn btn-default" href="home" role="button">Java</a></li>
					<li><a class="btn btn-default" href="home" role="button">Cocoa Touch</a></li>
					<li><a class="btn btn-default" href="home" role="button">Aplle Xcode</a></li>
					<li><a class="btn btn-default" href="home" role="button">HTML5</a></li>
					<li><a class="btn btn-default" href="home" role="button">Show More</a></li>
				</ul>
			</div>	
		</div><br>

		<div class="row">
			<div class="col-md-3 col-md-offset-2">
				<div class="titulo"><strong>PORTFOLIO:</strong></div>
				<ul>
					<li><a href="home"><b>Life360 (via toptal)</b></a>
						<p>iOS</p>
					</li>
					<li><a href="home"><b>Software Factory LLC</b></a>
						<p>iOS, Objective-C, CocoaTouch, Xcode</p>
					</li>
					<li><a href="home"><b>IntegraSoft</b></a>
						<p>.NET, SQL, Oracle, HTML, CSS, ASP.NET</p>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="titulo"><strong>EXPERIENCE:</strong></div>
				<ul>
					<li><b>Objective-C, </b>4 years</li><p></p>
					<li><b>Java, </b>1 years</li><p></p>
					<li><b>C++, </b>1 years</li><p></p>
					<li><b>HTML5, </b>1 years</li><p></p>
				</ul>
			</div>
			<div class="col-md-3">
				<a class="logo" href="/home">
					<img class="svg-inject" src="<%=image_path("design/vector/img-1-600x518.png")%>" alt="a clock">
				</a>
			</div>
		</div><br><br>

		<div class="row">
			<div class="col-md-3 col-md-offset-2">
				<div class="titulo"><strong>AVAILABILITY:</strong></div>
				Part-time
			</div>
			<div class="col-md-3">
				<div class="titulo"><strong>PREFERRED ENVIRONMENT:</strong></div>
				iOS, Mac OS X
			</div>
			<div class="col-md-3">
				<div class="titulo"><strong>THE MOST AMAZING...</strong></div>
				... app I've built is Life360 Family Locator, helps family keep connected.
			</div>
		</div><br><br>

		<div class="row">
			<div class="col-md-2 col-md-offset-2">
				<div class="titulo"><strong>EMPLOYMENT:</strong></div>
			</div>
			<div class="col-md-7">
				<ul class="subtitulos">
					<li><b>Life360 (via toptal), Senior Developer (2011 - PRESENT)</b></li>
					<ul class="tips">
						<li>Worked on app currently under development/unreleased.</li>
						<li>Built weather alert and a police scanner, with both apps successfully deployed to the App Store: http://itunes.apple.com/us/app/earthquakes!-earthquake-map/id485047858?mt=8</li>
						<li>Details: app connects to web server, fetches up-to-the-minute information from USGS website, and displays recent earthquakes; users can be alerted of nearby earthquakes and share findings via Twitter and Facebook.</li>
						<li>http://itunes.apple.com/us/app/police-scannerradio/id499955111?mt=8</li>
						<li>Details: connects to web server, fetches current police scanner feeds, and uses iOS audio services to stream audio to user.</li>
						Technologies: iOS
					</ul><br>
				</ul>
				<ul class="subtitulos">
					<li><b>Software Factory LLC, Senior Developer (2009 - 2011)</b></li>
					<ul class="tips">
						<li>Designed and developed games for mobile platforms, including iPhone and iPad. Technologies: iOS, Objective-C, CocoaTouch, Xcode</li>
					</ul><br>
				</ul>
				<ul class="subtitulos">
					<li><b>IntegraSoft, Senior Developer (2004 - 2009)</b></li>
					<ul class="tips">
						<li>Designed and developed applications for a broad array of customers within the construction, tobacco, and apparel industries.</li>
						<li>Worked as lead developer (heading teams of 5 to 10) on a host of projects.</li>
						Technologies: .NET, SQL, Oracle, HTML, CSS, ASP.NET
					</ul>
				</ul>
			</div>
		</div><br><br>

		<div class="row">
			<div class="col-md-2 col-md-offset-2">
				<div class="titulo"><strong>EXPERIENCE:</strong></div>
			</div>
			<div class="col-md-7">
				<ul class="subtitulos">
					<li><b>Life360 (Development)</b>
					<p><a>https://itunes.apple.com/us/app/life360-family-locator/id384830320?mt=8</a></p>
					<p>Life360 is the world’s leading location-sharing app, and is the best way to stay connected to family, friends, and everyone in between.</p>
					Use Life360 to: 
					</li>
					<ul class="tips">
						<li>Create discreet Circles for the important people in your life</li>
						<li>Share your location with who you want, when you want </li>
						<li>Get automatic notifications when friends and family arrive at favorite Places</li>
						<li>Communicate one-to-one or to an entire group with free in-app messaging</li>
					</ul>
				</ul>
				<ul class="subtitulos">
					<li><b>Paratroopers: Air Assault HD (Development)</b></li>
					<p><a>http://itunes.apple.com/us/app/paratroopers-air-assaulthd/id364475738?mt=8</a></p>
					<p>Designed app for iPhone and iPad. Commissioned Brazilian design company for graphics. Worked on the development, mockups, and testing. App featured by Apple in “New and Noteworthy” and “Whatʼs Hot” categories.</p>
				</ul>
				<ul class="subtitulos">
					<li><b>Advanced Level & Inclinometer: TiltMeter (Development)</b></li>
					<p><a>http://itunes.apple.com/us/app/advanced-levelinclinometer/id288338285?mt=8</a></p>
					<p>Worked on design, development, and graphics of one of 2008's first iOS apps.</p>
				</ul>
				<ul class="subtitulos">
					<li><b>Cerveza Port Royal (Development)</b></li>
					<p><a>http://itunes.apple.com/us/app/cerveza-portroyal/id392461795?mt=8</a></p>
					<p>Designed and developed. Commissioned graphics to a local design and graphics company.</p>
				</ul>
				<ul class="subtitulos">
					<li><b>The H-1B: An iOS Developer's Journey from Honduras to Silicon Valley (Publication)</b></li>
					<p><a>http://www.toptal.com/freelance/the-h-1b-an-ios-developers-journey-from-honduras-to-silicon-valley</a></p>
					<p>The Toptal Engineering Blog is a platform where engineers and industry leaders share projects and discuss technologies.</p>
				</ul>
			</div>
		</div><br><br>

		<div class="row">
			<div class="col-md-2 col-md-offset-2">
				<div class="titulo"><strong>SKILLS:</strong></div>
			</div>
			<div class="col-md-7">
				<ul class="subtitulos">
					<li><b>Languages</b></li>
					<p>Objective-C, Java, C++, HTML5</p>
				</ul>
				<ul class="subtitulos">
					<li><b>Platforms</b></li>
					<p>iOS</p>
				</ul>
				<ul class="subtitulos">
					<li><b>Storage</b></li>
					<p>SQL</p>
				</ul>
				<ul class="subtitulos">
					<li><b>Frameworks</b></li>
					<p>Cocoa Touch</p>
				</ul>
				<ul class="subtitulos">
					<li><b>Tools</b></li>
					<p>Apple Xcode</p>
				</ul>
				<ul class="subtitulos">
					<li><b>Paradigms</b></li>
					<p>Agile software development</p>
				</ul>
			</div>
		</div><br><br>

		<div class="row">
			<div class="col-md-2 col-md-offset-2">
				<div class="titulo"><strong>EDUCATION:</strong></div>
			</div>
			<div class="col-md-7">
				<ul class="subtitulos">
					<li><b>Bachelor's Degree degree in Computer Science (1997 - 2001)</b></li>
					<p>Universidad Tecnologica Centroamericana - Unitec - San Pedro Sula, Honduras</p>
				</ul>
			</div>
		</div><br><br>

		<div class="row footer">
			<div class="col-md-2 col-md-offset-2">
				<a class="logo" href="/home">
					<img class="cabecera" src="<%=image_path("small_timba.png")%>" alt="a clock">
				</a>
			</div>
			<div class="col-md-3">Exclusive access to top developers</div>
			<div class="col-md-4">Toptal.com<br>Call us: 888.604.3188</div>
		</div><br>
	</div>
	<br>
	<div class="container foot">
		<p>
  			<button type="button" class="btn btn-primary btn-lg">To view more profiles</button>
  		</p>
	</div>
	<br><br><br><br>
</div>
</body>