<div id="content" role="main">
    <section class="section swatch-black-beige">
        <div class="background-media skrollable skrollable-between cityimage" data-start="background-position: 50% 0px" data-top-bottom="background-position: 50% -200px">
        </div>
        <div class="background-overlay" style="background-color:rgba(0,0,0,0.5)"></div>
        <div class="container">
            <header class="section-header underline">
                <h1 class="headline hyper hairline">Timba</h1>
                <p class="big">Gaming in your Rhythm</p>
            </header>
        </div>
    </section>
    
    <%= render "pages/home/services" %>
    <section class="section swatch-black-beige has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
            </svg>
        </div>
        <%= render "pages/home/latest_work" %>
    </section>

    
    <%= render "pages/home/team" %>
    <%= render "pages/home/clients" %>
</div>