<div id="content" role="main">
    <section class="section swatch-black-beige">
        <div class="container">
            <header class="section-header no-underline">
                <h1 class="headline hyper hairline">Things we do</h1>
                <p class="big"></p>
            </header>
        </div>
    </section>

    <%= render "pages/home/services" %>
</div>