<div id="content" role="main">
    <section class="section swatch-black-beige">
        <div class="container">
            <header class="section-header no-underline">
                <h1 class="headline hyper hairline">Things we do</h1>
                <p class="big"></p>
            </header>
        </div>
    </section>

    <section class="section swatch-beige-black has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <header class="section-header ">
                <h1 class="headline super hairline">Services</h1>
                <p class="">Now that we know who you are, I know who I am. I&#x27;m not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain&#x27;s going to be?</p>
            </header>
            <div class="row">
                <ul class="list-unstyled row box-list ">
                    <li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                        <div class="box-round">
                            <div class="box-dummy"></div>
                            <a class="box-inner " href="/single-service.html">
                                <img class="svg-inject" src="<%=image_path("design/custom-icons/custom-icon-wayfarer.png")%>" alt="glasses" data-animation="bounce" />
                            </a>
                        </div>
                        <h3 class="text-center ">

                            <a href="/single-service.html">

                                Flat design

                            </a>

                        </h3>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                        <div class="box-round">
                            <div class="box-dummy"></div>
                            <a class="box-inner " href="/single-service.html">
                                <img class="svg-inject" src="<%=image_path("design/custom-icons/custom-icon-mobile-white.png")%>" alt="a clock" data-animation="bounce" />
                            </a>
                        </div>
                        <h3 class="text-center ">

                            <a href="/single-service.html">

                                Free updates

                            </a>

                        </h3>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                        <div class="box-round">
                            <div class="box-dummy"></div>
                            <a class="box-inner " href="/single-service.html">
                                <img class="svg-inject" src="<%=image_path("design/custom-icons/custom-icon-map.png")%>" alt="a clock" data-animation="bounce" />
                            </a>
                        </div>
                        <h3 class="text-center ">

                            <a href="/single-service.html">

                                Multilanguage support

                            </a>

                        </h3>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".9s">
                        <div class="box-round">
                            <div class="box-dummy"></div>
                            <a class="box-inner " href="/single-service.html">
                                <img class="svg-inject" src="<%=image_path("design/custom-icons/custom-icon-commerce.png")%>" alt="a clock" data-animation="bounce" />
                            </a>
                        </div>
                        <h3 class="text-center ">

                            <a href="/single-service.html">

                                Woocommerce

                            </a>

                        </h3>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>