<div id="content" role="main">
    <section class="section swatch-black-beige">
        <div class="container">
            <header class="section-header underline text-center">
                <h1 class="headline hyper hairline">Pricing options</h1>
            </header><br>
            <div class="row">
                <h4 class="title"><u>Demo</u></h4><br>
                <h4 class="description">Want to showcase your next app to an investor or other stakeholders?
                Get a professional demo up and running fast and cheap</h4><br>

               <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                       
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>&nbsp;                   
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>Cost</li>
                                <li>Time to Deliver</li>
                                <li>Discount</li>
                            </ul>
                            <br><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                       
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4><u>8                    
                                        <small>Bits</small></u>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>$1500 US</li>
                                <li>1 Week</li>
                                <li>0%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                        
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4><u>16                    
                                        <small>Bits</small></u>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>$2700</li>
                                <li>2 Weeks</li>
                                <li>10%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                      
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4><u>
                                        64                    
                                        <small>bits</small></u>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>$5000</li>
                                <li>4 Weeks</li>
                                <li>16%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section swatch-black-beige">
        <div class="decor-top">
            <svg class="decor" height="60px" preserveaspectratio="none" style="height: 60px !important;" version="1.1" viewbox="0 0 100 100" width="60px" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 0 L50 100" stroke-width="1"></path>
                <path d="M0 50 L100 50" stroke-width="1"></path>
            </svg>
        </div>
        <div class="container">
            <div class="row">
                <h4 class="title"><u>Minimum Viable Product</u></h4><br>
                <h4 class="description">Want to start your own business and deliver</h4><br>

               <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                       
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay1">
                                    <h4>&nbsp;                   
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>Cost</li>
                                <li>Time to Deliver</li>
                                <li>Discount</li>
                            </ul>
                            <br><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                       
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay2">
                                    <h4><u>Normal</u></h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>$30.000 US</li>
                                <li>2 months</li>
                                <li>0%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                        
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay2">
                                    <h4><u>Hard</u>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>$50.000 US</li>
                                <li>4 months</li>
                                <li>16%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                      
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay2">
                                    <h4><u>Very Hard</u>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>$70.000 US</li>
                                <li>6 months</li>
                                <li>22%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section swatch-black-beige">
        <div class="decor-top">
            <svg class="decor" height="60px" preserveaspectratio="none" style="height: 60px !important;" version="1.1" viewbox="0 0 100 100" width="60px" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 0 L50 100" stroke-width="1"></path>
                <path d="M0 50 L100 50" stroke-width="1"></path>
            </svg>
        </div>
        <div class="container">
            <div class="row">
                <h4 class="title"><u>Hourly</u></h4><br>
                <h4 class="description"></h4><br>

               <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                       
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay1">
                                    <h4>&nbsp;                   
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>Cost</li>
                                <li>Unlocked by</li>
                                <li>Discount</li>
                            </ul>
                            <br><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                       
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay2">
                                    <h4><u>Singleplayer</u>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>$45 US</li>
                                <li>Hire one dev</li>
                                <li>0%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                        
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay2">
                                    <h4><u>Multiplayer</u>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>$40</li>
                                <li>Hire 3 devs</li>
                                <li>11%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  text-default">
                    <div class="pricing-col ">
                      
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay2">
                                    <h4><u>MMO</u>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>$35</li>
                                <li>Hire 6 devs</li>
                                <li>22%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section swatch-black-beige has-top">
        <div class="decor-top">
            <svg class="decor" height="60px" preserveaspectratio="none" style="height: 60px !important;" version="1.1" viewbox="0 0 100 100" width="60px" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 0 L50 100" stroke-width="1"></path>
                <path d="M0 50 L100 50" stroke-width="1"></path>
            </svg>
        </div>
        <div class="container">
            <header class="section-header underline text-center">
                <h1 class="headline super hairline">What do you get?</h1>
            </header>
            <div class="row">
                <div class="col-md-12  text-default">
                    <ul class="list-unstyled vertical-icon-border">
                        <li class="row">
                            <div class="col-md-3">
                                <div class="box-round">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner">
                                        <i class="fa fa-rocket" data-animation="tada"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h2 class="bordered-header small-screen-center">Rocket speed</h2>
                                <p class="text-left">
                                    In Timba, we provide a fast, efficient and dynamic service. Once that we have the requirements, we proceed to make a sketch of the design for display in the shortest of time possible and therefore have a more clear and specific vision of our client's needs.
                                </p>
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-md-3">
                                <div class="box-round">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner">
                                        <i class="fa fa-wrench" data-animation="tada"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h2 class="bordered-header small-screen-center">24/7 Support</h2>
                                <p class="text-left">
                                    We provide support for all our customers, giving confidence in our support for each product having our name. No matter the day or hour, we will look at each and every one of the concerns or problems you may have. This is to be with Timba!.
                                </p>
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-md-3">
                                <div class="box-round">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner ">
                                        <i class="fa fa-star" data-animation="tada"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h2 class="bordered-header small-screen-center">5 star services</h2>
                                <p class="text-left">
                                    We provide our best quality to all our clients, worrying about having the best products, the best service and are known for our personal attention to each.
                                    Never say 'NO' to their needs or their views and listen attentively each of your requirements.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
