<div id="content" role="main">
    <section class="section swatch-black-beige">
        <div class="container prices">
            <header class="section-header underline text-center">
                <h1 class="headline hyper hairline">Demo apps</h1>
            </header>
            <div class="row">
                <h4 class="description">Want to showcase your next app to an investor or other stakeholders?
                Get a professional demo up and running fast and cheap</h4><br>

                <div class="col-md-4  text-default">
                    <div class="pricing-col">
                        <h2 class="pricing-head">8 Bits</h2>
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>
                                        <small>$</small>
                                        1.5K                    
                                        <small>USD</small>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>2 months</li>
                                <li>0%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  text-default">
                    <div class="pricing-col pricing-featured">
                        <h2 class="pricing-head">16 Bits</h2>
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>
                                        <small>$</small>
                                        2.7K                    
                                        <small>USD</small>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>4 months</li>
                                <li>16%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  text-default">
                    <div class="pricing-col">
                        <h2 class="pricing-head">64 Bits</h2>
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>
                                        <small>$</small>
                                        5K                    
                                        <small>USD</small>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>6 months</li>
                                <li>22%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section swatch-black-beige">
        <div class="decor-top">
            <svg class="decor" height="60px" preserveaspectratio="none" style="height: 60px !important;" version="1.1" viewbox="0 0 100 100" width="60px" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 0 L50 100" stroke-width="1"></path>
                <path d="M0 50 L100 50" stroke-width="1"></path>
            </svg>
        </div>
        <div class="container prices">
            <header class="section-header underline text-center">
                <h1 class="headline hyper hairline">Minimum Viable Product</h1>
            </header>
            <div class="row">
                <h4 class="description">Want to start your own business and deliver in time</h4><br>
                <div class="col-md-4  text-default">
                    <div class="pricing-col">
                        <h2 class="pricing-head">Normal</h2>
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>
                                        <small>$</small>
                                        20K                    
                                        <small>USD</small>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>2 months</li>
                                <li>0%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  text-default">
                    <div class="pricing-col pricing-featured">
                        <h2 class="pricing-head">Hard</h2>
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>
                                        <small>$</small>
                                        50K                    
                                        <small>USD</small>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>4 months</li>
                                <li>16%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  text-default">
                    <div class="pricing-col">
                        <h2 class="pricing-head">Very Hard</h2>
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>
                                        <small>$</small>
                                        70K                    
                                        <small>USD</small>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>6 months</li>
                                <li>22%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section swatch-black-beige">
        <div class="decor-top">
            <svg class="decor" height="60px" preserveaspectratio="none" style="height: 60px !important;" version="1.1" viewbox="0 0 100 100" width="60px" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 0 L50 100" stroke-width="1"></path>
                <path d="M0 50 L100 50" stroke-width="1"></path>
            </svg>
        </div>
        <div class="container prices">
            <header class="section-header underline text-center">
                <h1 class="headline hyper hairline">Hourly</h1>
            </header>
            <div class="row">
                <h4 class="description"></h4><br>
                <div class="col-md-4  text-default">
                    <div class="pricing-col">
                        <h2 class="pricing-head">Single Player</h2>
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>
                                        <small>$</small>
                                        45                    
                                        <small>per hour</small>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>Hire one dev</li>
                                <li>0%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  text-default">
                    <div class="pricing-col pricing-featured">
                        <h2 class="pricing-head">Multiplayer</h2>
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>
                                        <small>$</small>
                                        40                    
                                        <small>per hour</small>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>Hire 3 devs</li>
                                <li>11%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  text-default">
                    <div class="pricing-col">
                        <h2 class="pricing-head">MMO</h2>
                        <div class="pricing-body">
                            <div class="pricing-price">
                                <div class="overlay">
                                    <h4>
                                        <small>$</small>
                                        35                    
                                        <small>per hour</small>
                                    </h4>
                                </div>
                            </div>
                            <ul class="pricing-list">
                                <li>Hire 6 devs</li>
                                <li>22%</li>
                            </ul>
                            <a href="contact" class="btn btn-lg btn-primary">Start!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  

    <section class="section swatch-black-beige has-top">
        <div class="decor-top">
            <svg class="decor" height="60px" preserveaspectratio="none" style="height: 60px !important;" version="1.1" viewbox="0 0 100 100" width="60px" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 0 L50 100" stroke-width="1"></path>
                <path d="M0 50 L100 50" stroke-width="1"></path>
            </svg>
        </div>
        <div class="container">
            <header class="section-header underline text-center">
                <h1 class="headline super hairline">What do you get?</h1>
            </header>
            <div class="row">
                <div class="col-md-12  text-default">
                    <ul class="list-unstyled vertical-icon-border">
                        <li class="row">
                            <div class="col-md-3">
                                <div class="box-round">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner">
                                        <i class="fa fa-rocket" data-animation="tada"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h2 class="bordered-header small-screen-center">Rocket speed</h2>
                                <p class="text-left">
                                    In Timba, we provide a fast, efficient and dynamic service. Once that we have the requirements, we proceed to make a sketch of the design for display in the shortest of time possible and therefore have a more clear and specific vision of our client's needs.
                                </p>
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-md-3">
                                <div class="box-round">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner">
                                        <i class="fa fa-wrench" data-animation="tada"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h2 class="bordered-header small-screen-center">24/7 Support</h2>
                                <p class="text-left">
                                    We provide support for all our customers, giving confidence in our support for each product having our name. No matter the day or hour, we will look at each and every one of the concerns or problems you may have. This is to be with Timba!.
                                </p>
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-md-3">
                                <div class="box-round">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner ">
                                        <i class="fa fa-star" data-animation="tada"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h2 class="bordered-header small-screen-center">5 star services</h2>
                                <p class="text-left">
                                    We provide our best quality to all our clients, worrying about having the best products, the best service and are known for our personal attention to each.
                                    Never say 'NO' to their needs or their views and listen attentively each of your requirements.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
