<div id="content" role="main">
    <section class="section swatch-beige-black has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <header class="section-header underline">
                <h1 class="headline super hairline">Thanks for contacting us!!</h1>
                <p class="">Appreciate your visit and your contribution, please keep browsing our website.</p>
            </header>
            <div class="text-center">
                <a class="btn btn-primary btn-lg btn-icon-right pull-center" href="home">
                    Home.
                    <div class="hex-alt hex-alt-big">
                        <i class="fa fa-rocket" data-animation="tada"></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
