    
<div id="content" role="main">
    <section class="section swatch-black-beige">
        <div class="container">
            <div class="row">
                <div class="col-md-3  text-default">
                    <div class="box-wrap alignnone">
                        <div class="box-round box-big flat-shadow">
                            <div class="box-dummy"></div>
                            <span class="box-inner ">
                                <img class="" src="<%=image_path("design/custom-icons/custom-icon-composer.png")%>" alt="a MAC" data-animation="" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9  text-default">
                    <h1 class="bordered-header">Web design</h1>
                    <p class="lead">
                        through a productive group of developers, we create the most amazing web sites with a very high quality standard, providing not only the best products to our clients, but also the best approach to address all concerns and needs that have they can be born.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <%= render "pages/products/products_boddy" %>
</div>

