<section class="section swatch-black-beige editing">
	<div class="container">
		<h1 class="headline hyper hairline">Editing cv</h1>

		<%= render 'form' %>
		<br>
		<%= link_to 'Show', @cv %> |
		<%= link_to 'Back', cvs_path %>
	</div>
</section>