.cityimage{
	background-image: image-url("design/section-bg/bg-2.jpg");
	background-size: cover;
	background-position: 50% 0px;
}

h1.headline {
  font-weight: 400;
}

.btn-icon-right.alineado{
    padding-right: 32px;
}

.container.prices .text-center h1.hairline{
	font-size:45px;
}

.container.prices .row .pricing-list li{
	font-size:16px;
	font-weight: 400;
}

.container.prices .row .description{
	font-size: 25px;
	text-align:center;
}

.container.map .underline h1.hairline{
	font-size: 80px;
}

.section.swatch-black-beige .container.prices .row .col-md-4.text-default .pricing-col h2{
	margin-bottom: 20px;
}