// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-logo {
height: 66px;
width: 156px;
display: inline-block;
vertical-align: top;
margin: 0;
background: url(http://cdn1.crowdint.com.global.prod.fastly.net/assets/crowdint-logo-6a753d708c663f12e505bddb9ca36487.png) 0 0 no-repeat;
}

.navbar-nav {
	display: inline-block;
	position: absolute;
	right: 700px;
	top: 10px;
}
