// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 67px;
}

.header-logo {
	height: 66px;
	width: 156px;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	background: image-url("crowdint-logo.png") 0 0 no-repeat;	
}

.navbar-nav {

	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	display: inline-block;
	position: absolute;
	right: 600px;
	top: 10px;
}

.header-button {
	transition: all 0.5s ease;
	font-family: "Roboto", sans-serif;
	background: #007466;
	border-radius: 7px;
	border: 2px solid white;
	display: inline-block;
	cursor: pointer;
	opacity: 0.8;
}
/*------------------------------------------------------*/
.headline-home {
	background-image: image-url("crowd-bg.png");
	background-color: #007466;
	background-repeat: no-repeat;
    background-position: center;
	padding-top: 170px;
	text-align: center;
	margin: auto 0;
	
	height: 560px;
}

.headline-home h2{
	font-size: 4.375em;
	font-weight: bold;
	line-height: 1em;
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	width: 1024px;
	height: 140px;
	color: white;
	text-align: center;
}

.headline-home p{
	color: white;
	font-size: 17px;
	font-weight: 300;
	height: 144px;
	width: 368px;
	line-height: 24px;
	margin: 16px auto;
}
/*------------------------------------------------------*/
.is-scrollable{
	transition: all 0.5s ease;
	font-family: "Roboto", sans-serif;
	background: #007466;
	color: white;
	border-radius: 7px;
	border: 2px solid white;
	cursor: pointer;
	display: inline-block;
	font-size: 19px;
	padding: 10px 30px;
	text-decoration: blink;
}

.l-wrapper h3{
	line-height:40px;
	margin: 0 auto;
	position: relative;
	background-color: white;
	padding-top: 80px;
	width: 100%;
}

.is-not-mobile{
	display: block;
	font-family: "Roboto", sans-serif;
	margin-top: 100px;
	margin-bottom: 2.4em;
	text-align: center;
	font-size: 36px;
	font-weight: 100;
	line-height: 16px;
}

.l-normal{
	padding-top: 10px;
	font-weight: 900;
}
/*------------------------------------------------------*/


.work-box{
	display:inline-block;
	padding-top: 50px;
}

.work-box .circle-bg-ecommerce{
	background: #f2f2f2 image-url("home.png") -224px 0px no-repeat;
	height: 118px;
	width: 100px;
	border-radius: 16px;
	display: block;
	left: -5px;
	position: relative;
	color: #ffffff;
	display: inline-block;
	font-size: 2em;
	font-weight: 100;
	line-height: 3em;
	text-align: center;
}

.work-box-body{
	text-align: left;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
	color: #505051;
	height: 120px;
	width: 240px;
	padding-bottom: 200px;
	padding-left:20px;
}

.work-box .circle-bg-customer{
	background: #f2f2f2 image-url("home.png") -123px 0px no-repeat;
	height: 118px;
	width: 101px;
	border-radius: 1em;
	display: block;
	left: 20px;
	position: relative;
	color: #ffffff;
	display: inline-block;
	font-size: 2em;
	font-weight: 100;
	line-height: 3em;
	text-align: center;
	color: #ffffff;
}

.work-box .circle-bg-solutions{
	background: #f2f2f2 image-url("home.png") -324px 0px no-repeat;
	height: 118px;
	width: 100px;
	border-radius: 1em;
	display: block;
	left: 20px;
	position: relative;
	color: #ffffff;
	display: inline-block;
	font-size: 2em;
	font-weight: 100;
	line-height: 3em;
	text-align: center;
}



/*------------------------------------------------------*/
.we-do{
	position: relative;
	padding-top: 45px;
	height: 620px;
	background-color: #DDDDDD;
	text-align: center;
	display: block;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
	color: #505051;
}

.we-do-img{
	display: block;
	background: image-url("home.png") -529px 0px no-repeat;
	height: 111px;
	width: 126px;
	margin: 0 auto;
}

.we-do-title{
	margin-top: 40px;
	margin-bottom: 1.05em;
	text-align: center;
	font-size: 2.25em;
	font-weight: 100;
	line-height: 1em;
	display: block;
	font-family: "Roboto", sans-serif;
}

.l-wrapper{
	margin: 0 auto;
	width: 1024px;
	display: block;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	line-height: 1.3em;
	color: #505051;
}

.we-do-box{
	width: 17.5em;
	height: 15.625em;
	display: inline-block;
	border-radius: 10px;
	position: relative;
	background-color: #ffffff;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
	color: #505051;
}

.we-do-box-body{
	width: 15em;
	margin-left: -7.5em;
	top: 2.438em;
	position: absolute;
	left: 50%;
	text-align: left;
	display: block;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
	color: #505051;
}

.we-do-box-body .experience_ico_01{
	margin-left: -15px;
	width: 104px;
	height: 50px;
	background: image-url("home.png") -425px -31px no-repeat;
	display: inline-block;
	margin-left: 50px;
	text-align: left;	
}

.we-do-box-body .experience_ico_02{
	margin-left: -15px;
	width: 123px;
	height: 50px;
	background: image-url("experience.png") -104px 0px no-repeat;
	display: inline-block;
	margin-left: 50px;
	text-align: left;	
}

.we-do-box-body .experience_ico_03{
	width: 124px;
	height: 50px;
	background: image-url("experience.png") -227px 0px no-repeat;
	margin-left: -15px;
	display: inline-block;
	margin-left: 50px;
	text-align: left;
}

.call-action{
	border-radius: 7px;
	border: 2px solid white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.2em;
	font-weight: 300;
	padding: 10px 30px;
	text-decoration: blink;
	background: #007466;
	color: white;
	text-align: center;
	font-family: "Roboto", sans-serif;
	line-height: 1.3em;
	
}

.headline-link headline-link-home{
	border-radius: 7px;
border: 2px solid white;
cursor: pointer;
display: inline-block;
font-size: 1.2em;
font-weight: 300;
padding: 10px 30px;
text-decoration: blink;
background: #007466;
color: white;
text-align: center;
font-family: "Roboto", sans-serif;
line-height: 1.3em;
}
/*------------------------------------------------------*/

.our-clients{
	position: relative;
	background-color: white;
	padding-top: 3em;
	padding-bottom: 2em;
	text-align: center;
	display: block;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
	color: #505051;
}

.our-clients-title{
	margin-bottom: 1em;
	margin-top: 0;
	text-align: center;
	font-size: 2.25em;
	font-weight: 100;
	line-height: 1em;
	display: block;
	font-family: "Roboto", sans-serif;
	color: #505051;
}

.our-clients .row .col-md-3 .gopro{
	background: image-url("logos-clientes.png") -720px -31px no-repeat;
	width: 120px;
	height: 37px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;

}
.our-clients .row .col-md-3 .igobono{
	background: image-url("logos-clientes.png") -840px -28px no-repeat;
	width: 120px;
	height: 45px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .jiffyshirts{
	background: image-url("logos-clientes.png") -1080px -18px no-repeat;
	width: 120px;
	height: 65px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}

.our-clients .row .col-md-3 .bebitos{
	background: image-url("logos-clientes.png") 0px -30px no-repeat;
	width: 120px;
	height: 40px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .muirskate{
	background: image-url("logos-clientes.png") -1560px -31px no-repeat;
	width: 120px;
	height: 40px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .mightytwenty{
	background: image-url("logos-clientes.png") -1440px 0px no-repeat;
	width: 120px;
	height: 100px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .betterfinance{
	background: image-url("logos-clientes.png") -120px -38px no-repeat;
	width: 120px;
	height: 37px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .interviewjet{
	background: image-url("logos-clientes.png") -960px -38px no-repeat;
	width: 120px;
	height: 40px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .footcardigan{
	background: image-url("logos-clientes.png") -600px -31px no-repeat;
	width: 120px;
	height: 41px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .clubguaf{
	background: image-url("logos-clientes.png") -240px -4px no-repeat;
	width: 120px;
	height: 96px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .lootcrate{
	background: image-url("logos-clientes.png") -1320px -41px no-repeat;
	width: 120px;
	height: 37px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .littlebits{
	background: image-url("logos-clientes.png") -1200px -33px no-repeat;
	width: 120px;
	height: 40px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .ezekiel{
	background: image-url("logos-clientes.png") -360px -34px no-repeat;
	width: 120px;
	height: 40px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}
.our-clients .row .col-md-3 .flyerio{
	background: image-url("logos-clientes.png") -480px -24px no-repeat;
	width: 120px;
	height: 50px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}


/*------------------------------------------------------*/
.footer-home .pie{
	background-image: image-url("footer_grap.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 440px;
	background-color:#007466;
	display: block;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}

.footer-home .pie h3{
	display: block;
	font-weight: 300;
	margin-bottom: 3.7em;
	margin-top: 0;
	padding-top:60px;
	text-align: center;
	font-size: 2.25em;
	line-height: 1em;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
}


.navbar .container-fluid{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 15px;
	list-style: none;
	line-height: 20px;
	display: inline-block;
	position: absolute;
	left: 500px;
	top: 10px;
}

.navbar .container-fluid li{
	display:inline;
	color: white;
	text-align: center;
	font-size: 16px;
	position: center;
}

.navbar .container-fluid .iconos-sociales li{
	background-image: image-url("sociales.png");
	display:inline;
	text-align: center;
	font-size: 16px;
	position: center;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 440px;
}


.footer-home .pie p{
	padding-top: 50px;
	text-align: center;
	position: center;
	color: white;
	margin: 0;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 16px;
}