<!DOCTYPE html>
<html>
<head>
  <title>Timba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
  <body class="layout-boxed" style="background-image: url(image_url)">

  
</head>
<body>

<%= yield %>

</body>
</html>
